# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. python
2. SQL
3. R

**Some of the commonly used libraries used by Data Scientists include:**
 
 1. SciPy.  
 2. TensorFlow.
 3. NumPy. 
 4. Pytorch. 
 5. Pandas.

**Data Science Tools**
|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)
print(x==17)

17
True

In [4]:
# This will convert 200 minutes to hours by diving by 60
print(200/6)

33.333333333333336

**Objectives:**
List popular languages for Data Science.
- Python 
- SQL
- R

## Author 
Houssemeddine Mars